/* PHASE 11: Icons */

[class*="icon-"] {
  background-image: url('../images/sprite.png');
  background-size: 25px 250px;
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 0;
  padding-top: 25px;
  vertical-align: bottom;
}

[class*="icon-small-"] {
  width: 20px;
  height: 20px;
  padding-top: 0;
  padding-right: 5px;
}

.icon-small-wall {
  background-position: 0 -225px;
}

.icon-small-about {
  background-position: 0 -175px;
}

.icon-small-friends {
  background-position: 0 -150px;
}

.icon-small-photos {
  background-position: 0 -200px;
}

.icon-comment:hover {
  background-position: 0 -25px;
}

.icon-reblog:hover {
  background-position: 0px -125px;
}

.icon-favorite:hover {
  background-position: 0 -75px;
}

.icon-reblog {
  background-position: 0px -100px;
}

.icon-favorite {
  background-position: 0 -50px;
}